<template>
    <footer>
        <img style="height: 10rem" src="squarewithtextwhite.svg" alt="" />
        <p class="contact">Ota yhteyttä: <br><b>savilahdensivistyneet(at)jim.bo</b>
        <br><br>
        Tai tule jutulle <a href="https://t.me/joinchat/lstlBqaG1lZlM2Jk">Telegramiin</a>.
        </p>
        <p class="disclaimer">
            Emme ole poliittisesti sitoutuneita.<br />
            Savilahden Sivistyneet ei ole yhdistys tai poliittinen puolue.<br />
            Verkkosivu on tehty huvikseen t.
            <a href="https://jako.social/@jimbo">Jimbo</a>
        </p>
    </footer>
</template>

<style lang="scss">
footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: #222222;
    padding: 3rem;
    p {
        color: rgb(226, 226, 226);
    }
    a {
        text-decoration: none;
        color: white;
    }
    .contact {
        font-size: larger;
            a {
                text-decoration: underline;
                color: #CAEBE7;
            }
    }
    .disclaimer {
        font-size: smaller;
    }
}
</style>