<template>
    <div>
        <p>kissa</p>
<svg width="100%" height="100%" viewBox="0 0 1547 2434" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g id="artback" transform="matrix(1,0,0,1.34231,0,0)">
        <rect x="0" y="0" width="1547" height="1812.58" style="fill:none;"/>
        <clipPath id="_clip1">
            <rect x="0" y="0" width="1547" height="1812.58"/>
        </clipPath>
        <g clip-path="url(#_clip1)">
            <g transform="matrix(1,0,0,1.40133,-219,-555.013)">
                <rect x="0" y="0" width="1766" height="1698" style="fill:url(#_Radial2);"/>
            </g>
        </g>
    </g>
    <defs>
        <radialGradient id="_Radial2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-1945.78,-949.47,468.232,-1420.42,1351.23,932.474)"><stop offset="0" style="stop-color:rgb(20,117,80);stop-opacity:1"/><stop offset="1" style="stop-color:rgb(1,57,36);stop-opacity:1"/></radialGradient>
    </defs>
</svg>
    </div>
</template>