<template>
    <nav class="main-nav">
        <logo class="logo" />
    </nav>
</template>

<style lang="scss">
    .main-nav {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .logo {
        height: 4rem;
        margin: 1rem;
    }
</style>