button {
    background-color: #143375;
    border: 0;
    border-radius: 1rem;
    color: white;
    padding: 0.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-family: Cantarell;
    cursor: pointer;
}

button:hover {
    background-color: #0d2049;
}