<template>
    <div>
        <div class="wrapper">
            <img class="absolute bgcolor" src="bg.svg" alt="" />
            <img class="absolute bgart" src="artcontent.svg" alt="" />
            <div class="absolute z-up content">
                <h1>Olemme Savilahden sivistyneet</h1>
                <h2>
                    Tuomme sivistystä Itä-Suomen Yliopiston ylioppilaskunnan
                    edustajiston päätöksentekoon
                </h2>
                <p>
                    Savilahden sivistyneet on poliittisesti sitoutumaton ryhmä,
                    johon kuuluu opiskelija-edustajia Itä-Suomen Yliopiston
                    Kuopion kampuksen eri aloilta.
                </p>
                <p>
                    Edustajistopäätöksenteossa tavoitteenamme on erityisesti
                    opiskelijahyvinvoinnin lisääminen eri alojemme näkökulmasta,
                    sekä yhteisöllisyyden palauttaminen vähintään koronaa
                    edeltävään tilaan. Kolmantena kärkitavoitteenamme
                    edustajistovaaleissa 2021 pidämme ympäristön huomioimista
                    päätöksenteossa.
                </p>
                <p>
                    Laaja-alainen edustuksemme ja monipuoliset näkemykset
                    tarjoavat meille laajat vaikutusmahdollisuudet
                </p>
            </div>
        </div>
        <div class="candidates">
            <div class="page-margin">
                <h2>
                    Ehdokkaamme ISYYn edustajistovaaleissa kaudelle 2022-2023
                </h2>
            </div>
            <img src="ehdokkaat21.svg" alt="" />
        </div>
        <div class="whitebg">
            <h2>Kuinka äänestän?</h2>
            <p>
                Ennakkoänestys on auki 25.10.2021 - 29.10.2021 ja varsinainen
                vaalipäivä on 3.11.2021, tarkemmat äänestysohjeet löydät
                osoitteesta
                <a
                    href="https://www.isyy.fi/edarivaalit/aanestajalle.html"
                    rel="“noreferrer”"
                    target="_blank"
                    >https://www.isyy.fi/edarivaalit/aanestajalle.html</a
                >
                <br /><br />

                <a
                    href="https://isyy-vaalit.uef.fi/"
                    rel="“noreferrer”"
                    target="_blank"
                    ><button>Tästä pääset äänestämään</button></a
                >
            </p>
            <p>
                Jos sinulle jäi jotain kysyttävää visioomme liittyen, voi meidän kanssa tulla keskustelemaan 
                <a href="https://t.me/joinchat/lstlBqaG1lZlM2Jk"
                    >Telegram ryhmäämme</a
                >.
            </p>
        </div>
    </div>
</template>

<script>
import Indexbg from './../components/indexbg.vue'
export default {}
</script>

<style lang="scss">
.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 90vw;
    overflow-y: hidden;
}
.absolute {
    position: absolute;
    top: 0;
}
.z-up {
    z-index: 5;
}
.bgcolor {
    z-index: 1;
}
.bgart {
    z-index: 2;
}
.content {
    top: 50vw;
    margin: 3rem;
    padding: 2rem;
    max-width: 50rem;
    background-color: #093725;
    h1,
    h2,
    p {
        color: white;
    }
}

.whitebg {
    a {
        text-decoration-color: #143375;
        color: #143375;
    }

    margin: 4rem;
    margin-left: 5vw;
    margin-right: 5vw;
}

.candidates {
    background-color: #35393d;
    padding-top: 2rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: white;
    }

    .page-margin {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media (min-width: 1800px) {
    .wrapper {
        height: 70vw;
        justify-items: left;
    }
    .content {
        margin-left: 7rem;
        top: 40vw;
    }
}

@media (max-width: 1500px) {
    .wrapper {
        height: 90vw;
    }
    .content {
        top: 50vw;
        //background-color: red;
    }
}

@media (max-width: 1100px) {
    .wrapper {
        height: 100vw;
    }
    .content {
        top: 50vw;
        //background-color: black;
    }
}

@media (max-width: 900px) {
    .wrapper {
        height: 110vw;
    }
    .content {
        top: 50vw;
        //background-color: purple;
    }
}

/*@media (max-width: 900px) {
  .wrapper {
      height: 110vw;
  }
  .content {
    top: 50vw;
    background-color: peru;
  }
}

@media (max-width: 800px) {
  .wrapper {
      height: 130vw;
  }
  .content {
    top: 50vw;
    background-color: yellow;
  }
}*/

@media (max-width: 750px) {
    .wrapper {
        height: 110vw;
    }
    .content {
        top: 50vw;

        margin: 1rem;
        padding: 1rem;
        //background-color: palevioletred;
    }
}

@media (max-width: 700px) {
    .wrapper {
        height: 150vw;
    }
    .content {
        top: 70vw;

        margin: 1rem;
        padding: 1rem;
        //background-color: silver;
    }
}

@media (max-width: 600px) {
    .wrapper {
        height: 55rem;
    }
    .content {
        top: 60vw;

        margin: 1rem;
        padding: 1rem;
        //background-color: red;
    }
}

@media (max-width: 500px) {
    .wrapper {
        height: 65rem;
    }
    .content {
        top: 60vw;

        margin: 1rem;
        padding: 1rem;
        //background-color: goldenrod;
    }
}
</style>
